*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    height: 100px;
}

nav ul{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    background: antiquewhite;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    line-height: 100px;
}

nav ul li a{
    color: chocolate;
    font-size: 20px;
    font-family: sans-serif;
    display: block;
}

nav ul li a:hover{
    color: red;
}

.ego{

    background: pink;
}

.logo{
    width: 100px;
    cursor: pointer;

}

.info{
    text-align: center;
    padding: 20px;
}

.info h1{
    margin-bottom: 10px;
    color: aquamarine;
    font-size: 50px;
}

.info p{
    color: darkseagreen;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    line-height: 22px;
}

.info a{
    background: mediumaquamarine;
    padding: 10px 18px;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.orbit{
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.orbit ul li{
    list-style: none;
}

.orbit .center-image{
    width: 10rem;
    position: relative;
}

.orbit .center-image img{
    position: absolute;
    transition: opacity 500ms;
}

.orbit .center-image img:not(:first-child):hover{
    opacity: 0;
}



